<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" data-integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    data-crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" data-integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    data-crossorigin="anonymous">
</head>

<body>
  <ng-template [ngIf]="isLogged()">
    <app-nav-bar><div ng-include="'nav-bar-logged.component.html'"></div></app-nav-bar>
  </ng-template>
	<router-outlet></router-outlet>
    <app-nav-bar><div ng-include="'nav-bar.component.html'"></div></app-nav-bar>
	<router-outlet></router-outlet>
</body>

</html>