
<div class="table-subjects">
	<div class="header">Всички учебни предмети</div>
	<table>
		<tr>
			<th>
				Предмет
			</th>
			<th>
				Описание
			</th>
			<th>
				Преподавател
			</th>
			<th>
				Изтриване
			</th>
		</tr>
		<tr>
			<td>subject.name}}</td>
			<td>subject.description}}</td>
			<td>subject.teacher}}</td>
			<td>
				<button type="button" (click)="deleteSubject(subject.id)">
          <i class="fa fa-trash" aria-hidden="true"></i> 
        </button>
			</td>
		</tr>
		<tr *ngFor="let subject of subjects">
			<td>{{subject.name}}</td>
			<td>{{subject.description}}</td>
			<td>{{subject.teacher}}</td>
			<td>
				<button type="button" (click)="deleteSubject(subject.id)">
          <i class="fa fa-trash" aria-hidden="true"></i> 
        </button>
			</td>
		</tr>
	</table>
</div>