<div class="subject-dropdown">
	<label for="subjectName">Учебен предмет </label>
	<select [(ngModel)]="subject" name="subjectName" (change)="getStudents()">
		<option *ngFor="let s of subjects" [ngValue]="s.id">{{s.name}}</option>
	</select>
</div>
<div class="table-students">
	<div class="header">{{subjectName}}</div>
	<table>
		<tr>
			<th>
				Име на ученика
			</th>
			<!-- <th>
				Email
			</th> -->
			<th>
				Клас
			</th>
			<th>
				Номер в клас
			</th>
			<th>
				Оценки
			</th>
			<th>
				Редактиране
			</th>
		</tr>
		<tr *ngFor="let s of students">
			<td>{{s.firstName}} {{s.lastName}}</td>
			<!-- <td [(ngModel)]="email">{{s.email}}</td> -->
			<td>{{s.grade}}</td>
			<td>{{s.gradeNumber}}</td>
			<td> <span *ngFor="let g of grades">{{g}} </span></td>
			<td>
				<button type="button" (click)="open(content)">
					<i class="fas fa-edit" aria-hidden="true">
					</i>
				</button>
			</td>
		</tr>
	</table>
</div>
<!-- 
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<span *ngFor="let g of grades">{{g}} </span>
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template> -->