<div class="table-students">
	<div class="header">Учебен предмет</div>
	<table>
		<tr>
			<th>
				Име на ученика
			</th>
			<th>
				Клас
			</th>
			<th>
				Номер в клас
			</th>
			<th>
				Оценки
			</th>
			<th>
				Редактиране
			</th>
		</tr>
		<tr>
			<td>s.firstName}} {{s.lastName}}</td>
			<td>s.grade}}</td>
			<td>s.gradeNumber}}</td>
			<td>s.grades}}</td>
			<td>
				<button type="button" (click)="editGrades(student.id)">
					<i class="fas fa-edit" aria-hidden="true">
					</i>
				</button>
			</td>
		</tr>
		<tr>
			<td>s.firstName}} {{s.lastName}}</td>
			<td>s.grade}}</td>
			<td>s.gradeNumber}}</td>
			<td>s.grades}}</td>
			<td>
				<button type="button" (click)="editGrades(student.id)">
					<i class="fas fa-edit" aria-hidden="true">
					</i>
				</button>
			</td>
		</tr>
		<tr *ngFor="let s of students">
			<td>{{s.firstName}} {{s.lastName}}</td>
			<td>{{s.grade}}</td>
			<td>{{s.gradeNumber}}</td>
			<td>{{s.grades}}</td>
			<td>
				<button type="button" (click)="editGrades(student.id)">
					<i class="fas fa-edit" aria-hidden="true">
					</i>
				</button>
			</td>
		</tr>
	</table>
</div>